<div class="payment">
  <h4>Payment received</h4>
  <p v-if="currencyFrom === 'BTC'">Please wait for 1 confirmation, before we can process the exchange.</p>
  <p v-if="currencyFrom === 'XLM'">Transaction has been initiated.</p>
  <p v-if="txIn">You can monitor status here:<br/>
    <a v-if="txIn" class="link" target="_blank" :href="'https://stellar.expert/explorer/tx/' + txIn">Incoming</a><br/>
    <a v-if="txOut" class="link" target="_blank" :href="'https://stellar.expert/explorer/tx/' + txOut">Outgoing</a>
  </p>
</div>
