<div class="widget">
  <div class="widget__steps">
    <step-exchange v-if="step === 'exchange'"
                   :initial-currency-from="exchange.currencyFrom"
                   :initial-currency-to="exchange.currencyTo"
                   :initial-amount-to="exchange.amountTo"
                   @complete="handlerCompleteStep"
    ></step-exchange>
    <step-account v-if="step === 'account'"
                  :currency-from="exchange.currencyFrom"
                  :currency-to="exchange.currencyTo"
                  :amount-from="exchange.amountFrom"
                  :amount-to="exchange.amountTo"
                  @complete="handlerCompleteStep"
    ></step-account>
    <step-end v-if="step === 'end'"
              :id="exchange.id"
              :address="exchange.address"
              :qr="exchange.qr"
              @reset="handlerReset"
              @complete="handlerCompleteStep"
    ></step-end>
  </div>
  <div class="widget__menu">
    <span v-for="s in steps"
          class="widget__menu-item" @click="handlerChangeStep(s)"
          :class="{ _active: s === step }"
    ></span>
  </div>
  <info></info>
</div>
