<div class="widget">
  <div class="widget__steps">
    <step-exchange v-if="step === 'exchange'" :exchange="exchange" @complete="handlerCompleteStep"></step-exchange>
    <step-account v-if="step === 'account'" :exchange="exchange" @complete="handlerCompleteStep"></step-account>
    <step-end v-if="step === 'end'"
              :exchange="exchange"
              @reset="handlerReset"
              @complete="handlerCompleteStep"
    ></step-end>
  </div>
  <div class="widget__menu">
    <span v-for="s in steps"
          class="widget__menu-item" @click="handlerChangeStep(s)"
          :class="{ _active: s === step }"
    ></span>
  </div>
  <info></info>
</div>
