<form class="widget__step step-exchange">
  <div class="widget__step-body">
    <div class="form-group">
      <label class="form-group__label">Receive</label>
      <div class="form-group__control">
        <input class="form-group__input _long" v-model="amountTo" v-on:input="handlerChangeAmountTo">
        <select class="form-group__input _short" v-model="currencyTo" v-on:change="handlerChangeCurrencyTo">
          <option v-for="currency in currencies" v-bind:value="currency.value">{{currency.label}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-group__label">Pay</label>
      <div class="form-group__control">
        <input class="form-group__input _long" v-model="amountFrom" disabled>
        <select class="form-group__input _short" v-model="currencyFrom" disabled>
          <option v-for="currency in currencies" v-bind:value="currency.value">{{currency.label}}</option>
        </select>
      </div>
    </div>
    <div class="step-exchange__info">
      <p>Exchange rate: <span>0.00000686</span> BTC/XLM</p>
      <p>Miner Fee: <span>0.00001</span> XLM</p>
      <p>Exchange Fee: <span>0</span>%</p>
    </div>
  </div>
  <div class="widget__step-controls">
    <div class="widget__step-proceed" v-on:click="handlerCompleteStep">
      <p class="widget__step-proceed-title">Proceed</p>
      <p class="widget__step-proceed-subtitle">and accept T&Cs</p>
    </div>
  </div>
</form>
