<form class="widget__step step-exchange">
  <div class="widget__step-body">
    <div class="form-group">
      <label class="form-group__label">Receive</label>
      <div class="form-group__control">
        <input class="form-group__input _long"
               :class="{ _error: error }"
               type="number"
               v-model="amountTo"
               @input="handlerChangeAmountTo">
        <select class="form-group__input _short" v-model="currencyTo" @change="handlerChangeCurrencyTo">
          <option v-for="currency in currencies" :value="currency.value">{{currency.label}}</option>
        </select>
      </div>
    </div>
    <div class="step-exchange__swap-currencies">
      <button class="step-exchange__swap-currencies-btn" type="button" @click="handlerSwapCurrencies"></button>
    </div>
    <div class="form-group">
      <label class="form-group__label">Pay</label>
      <div class="form-group__control">
        <input class="form-group__input _long" v-model="amountFrom" disabled>
        <select class="form-group__input _short" v-model="currencyFrom" disabled>
          <option v-for="currency in currencies" :value="currency.value">{{currency.label}}</option>
        </select>
      </div>
    </div>
    <div class="step-exchange__info">
      <p v-if="exchangeRate">Exchange Rate: ~{{exchangeRate}} {{currencyTo}}/{{currencyFrom}}</p>
      <p v-if="minerFee">Miner Fee: {{minerFee}}</p>
      <p v-if="exchangeFee">Fee Included: {{exchangeFee}}%</p>
    </div>
  </div>
  <div class="widget__step-controls">
    <button class="widget__step-proceed btn"
            type="button"
            :disabled="isControlDisabled()"
            @click="handlerCompleteStep"
    >Proceed</button>
  </div>
</form>
