<div class="info">
  <button class="info__open" type="button" @click="open"></button>
  <div v-if="isOpen" class="info__body">
    <button class="info__close" type="button" @click="close"></button>
    <p>Widget provides an option to exchange one cryptocurrency to another without centralized exchange</p>
    <p><i>Povered by Papaya</i></p>
    <ul class="info__contacts">
      <li class="info__contact">Telegram: @umbre1</li>
      <li class="info__contact">Email: hello@umbrellab.com</li>
    </ul>
    <p><a class="link" href="https://ru.wikipedia.org/wiki/HTTP_404" target="_blank">Terms and conditions</a></p>
  </div>
</div>
