<div class="info">
  <button class="info__open" type="button" @click="open"></button>
  <div v-if="isOpen" class="info__body">
    <button class="info__close" type="button" @click="close"></button>
    <p>Widget provides an interface to exchange one cryptocurrency to another using stellar decentralized exchange.</p>
    <p>You can earn money (80% profit sharing) by placing it on your website. See <a class="link" href="http://telegra.ph/Papaya-Swap-Widget-Terms-and-Conditions-11-14" target="_blank">Terms and Conditions</a> for details.</p>
    <p>Request your API token by email: <a href="mailto:swap@umbrellab.com">swap@umbrellab.com</a></p>
    <p><i>Powered by Papaya</i></p>
    <ul class="info__contacts">
      <li class="info__contact">Telegram: <a href="https://t.me/umbre1">@umbre1</a></li>
      <li class="info__contact">Support email: <a href="mailto:support@umbrellab.com?subject=Swap">support@umbrellab.com</a></li>
    </ul>
  </div>
</div>
