<div class="widget__step step-end">
  <div class="widget__step-body">
    <start-over @reset="handlerReset"></start-over>
    <transfer v-if="!paymentReceived"
              :currency-from="currencyFrom"
              :amount-from="amountFrom"
              :address="address"
              :extra1="extra1"
              :extra2="extra2"
    ></transfer>
    <payment v-if="paymentReceived" :currency-from="currencyFrom" :txIn="txIn" :txOut="txOut"></payment>
  </div>
  <div class="widget__step-controls">
    <help :id="id"></help>
  </div>
</div>
